

<!DOCTYPE html>
<html>
<head>
    <title>Our Strategy Consultants</title>
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-itunes-app" content="app-id=1520722061">
<meta name="google-play-app" content="app-id=com.millennialbusinessbuilders.getdianotoday">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href='/static/lib/metisMenu/metisMenu.bf808b6e4c40.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/bootstrap/css/bootstrap.min.95df726a7936.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/vectormap/jquery-jvectormap-2.0.2.bcce7128a1b0.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/chart-c3/c3.min.fda895d1d3b6.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/chartjs/chartjs-sass-default.12ddbc93d303.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/datatables/jquery.dataTables.min.85a3d73e986a.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/datatables/responsive.bootstrap.min.ccdb8f46e817.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/toast/jquery.toast.min.be8a6c1b1899.css'>
<link rel="stylesheet" type="text/css" href='/static/style.952e677caadf.css'>
<link rel="stylesheet" type="text/css" href='/static/lib/jquery-ui/jquery-ui.99befdeb0dbb.css'>

<link rel="apple-touch-icon" href="apple-touch-icon.png">

<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<script src="/static/js/x-frame-bypass.1f3f0cf5a2dd.js" type="module"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head
<body class=''>

<style>
    body.nav-collapsed .main-sidebar-nav.dark-navigation {
        display: none !important;
    }

    body.nav-collapsed .admin-logo {
        display: none !important;
    }

    body.nav-collapsed .main-content {
        margin-left: 20px;
    }
</style>

<div class="top-bar light-top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/dashboard" class="admin-logo dark-logo">
                    <h1>
                        <img src="https://kleui.s3.amazonaws.com/documents/15fce62b-75d5-41cd-9c52-11ee73565314/imageedit_114_2786140255.png" class="logo-icon margin-r-10">
                    </h1>
                </a>
                <div class="left-nav-toggle">
                    <a href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <div class="left-nav-collapsed">
                    <a href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                </div>
                <div class="search-form hidden-xs">

                </div>
            </div>
            <div class="col">
                <ul class="list-inline top-right-nav">
                    <li class="dropdown avtar-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src='/static/images/avtar-2.81c9bd372fd2.png' class="rounded-circle" width="30">
                        </a>
                        <ul class="dropdown-menu top-dropdown" style="width: 250px">
                            
                                <div style="height: 5px"></div>
                                <li>
                                    <a href="/dashboard"><i class="icon-home"></i>Main Portal</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="/user/my-progress"><i class="icon-bell"></i>My Dashboard</a>
                                </li>
                                
                                
                                
                                
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="/business/business_credit_checklist/"><i
                                            class="icon-briefcase"></i>Business Credit Checklist</a>
                                </li>
                                
                                
                                
                                
                                

                                
                                
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="/user/logout/"><i class="icon-logout"></i> Logout</a>
                                </li>
                            
                            <div style="height: 5px"></div>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



      <div class="main-sidebar-nav dark-navigation">
         <div class="nano">
            <div class="nano-content sidebar-nav">
               <div class="card-body border-bottom text-center nav-profile">
                 <br>
                  <p class="lead margin-b-0 toggle-none">
                    ant munh
                  </p>
                  <p class="text-muted mv-0 toggle-none">Welcome</p>
               </div>
               <ul class="metisMenu nav flex-column" id="menu">
                  <li class="nav-item"><a href="/dashboard" class="nav-link">Go Back To Main Portal</a></li>
                  <li class="nav-item">
                    <!-- <ul class="nav-second-level nav flex-column " aria-expanded="false"> -->
                       <li class="nav-item"><a href="/freewhitelabelprogramonboarding/onboarding" class="nav-link">Client Onboarding Dashboard</a></li>
                       <li class="nav-item"><a href="/freewhitelabelprogramonboarding/whitelabelaccess" class="nav-link">Purchase Wholesale White Label Access For Client </a></li>
                        <li class="nav-item"><a href="/freewhitelabelprogramonboarding/partner-resources" class="nav-link">Partner Resources</a></li>
                        <li class="nav-item"><a href="/freewhitelabelprogramonboarding/view-free-portals">View your portals</a></li>
                          <!-- </ul> -->
               </ul>
            </div>
         </div>
      </div>



    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Partner Resources</h2></div>
    </div>

    <section class="main-content">
        <div id="app">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4" v-for="product in displayProducts" :key="product.id">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="mb-2" style="height: 100px"
                                         src="https://s3-us-east-2.amazonaws.com/suitelogin-production/wp-content/uploads/2017/05/03205352/Gathering-Intelligence-and-Closing-the-Sale-180X180.jpg">
                                    <h3>${product.name}</h3>
                                    <a class="btn btn-primary btn-block" v-bind:href="product.url" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header card-default">
                            Category
                        </div>
                        <div class="card-body">
                            <div v-for="category in categories" :key="category">
                                <input type="checkbox" v-bind:id="category" @change="check(category)">
                                <label v-bind:for="category" on:>${category}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>



<!-- <div class="alan-btn"></div>


<script type="text/javascript" src="https://studio.alan.app/web/lib/alan_lib.js"></script>
<script>
    var alanBtnInstance = alanBtn({
        key: "d2430b915c6ca49037224e6c859c00b22e956eca572e1d8b807a3e2338fdd0dc/stage",
        authData: {data: "your auth data if needed"},
        onCommand: function (commandData) {
            console.log(commandData)
            if (commandData.command === "goto") {
                switch (commandData.location) {
                    case "dashboard":
                        window.location.href = '/'
                        break
                    default:
                        window.location.href = commandData.location
                        break
                }
            } else if (commandData.command === "order") {
                switch (commandData.product) {
                }
            } else if (commandData.command === "addProduct") {
                var prod = commandData.product
                $(`input[name="${prod}"]`).closest("form").submit()
            } else if (commandData.command === "addUserStep") {
                var prod = commandData.product
                var element = $(`input[id="${prod}"]`)
                element.prop("checked", true);
                calculateAmount()
            } else if (commandData.command === "goToCheckout") {
                $('#steps-form').submit()
            }
        },
        rootEl: document.getElementById("alan-btn"),
    });
</script> -->


<footer class="footer">

    <span>Copyright © 2021 Our Strategy Consultants / Need Help? Give Us A Call At 800-710-9020</span>

</footer>



<script src='/static/lib/jquery/dist/jquery.min.4a356126b957.js'></script>
<script src='/static/lib/jquery-ui/jquery-ui.min.0a497d4661df.js'></script>
<script src='/static/lib/bootstrap/js/popper.min.cd0c695ea790.js'></script>
<script src='/static/lib/bootstrap/js/bootstrap.min.46b549bdc909.js'></script>
<script src='/static/lib/jasny-bootstrap/js/jasny-bootstrap.min.e61446b824b0.js'></script>
<script src='/static/lib/slimscroll/jquery.slimscroll.min.0f4566205523.js'></script>
<script src='/static/lib/nano-scroll/jquery.nanoscroller.min.b7766a11941c.js'></script>
<script src='/static/lib/metisMenu/metisMenu.min.24f2066a4f53.js'></script>
<script src='/static/custom.a60817db030c.js'></script>
<script src='/static/lib/chartjs/chart.min.3b2fd01c6f54.js'></script>
<script src='/static/lib/chartjs/chartjs-sass.e2ec9ec95cb6.js'></script>
<script src='/static/lib/vectormap/jquery-jvectormap-2.0.2.min.b57b66c6a502.js'></script>
<script src='/static/lib/vectormap/jquery-jvectormap-us-aea-en.9043f2fb5180.js'></script>
<script src='/static/lib/chart-c3/d3.min.3d6c48274985.js'></script>
<script src='/static/lib/chart-c3/c3.min.e4b016d8d1ec.js'></script>
<script src='/static/lib/datatables/jquery.dataTables.min.ca4f7e2af924.js'></script>
<script src='/static/lib/datatables/dataTables.responsive.min.77ebd1096311.js'></script>
<script src='/static/lib/toast/jquery.toast.min.ba3f15983585.js'></script>
<script src='/static/dashboard.d41d8cd98f00.js'></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = "https://embed.tawk.to/60ce917f65b7290ac636ddc3/1f8jegmmu";
    s1.charset = "UTF-8";
    s1.setAttribute("crossorigin", "*");
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->


    <script>
        const app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],

            data: {
                currentPage: {
                    id: 0,
                    title: "",
                },
                checkedCategories: [],
                categories: [
                    
                        'Word Document',
                    
                        'Power Point',
                    
                ],
                products: [
                    
                        {
                            name: '7 Secrets To Getting Approved For Business Credit',
                            url: ' https://kleui.s3.amazonaws.com/documents/1395aba5-df2c-488c-8f6f-c6dd8f7cec4d/7-Secrets-to-Getting-Approved-for-Business-Finan.pptx ',
                            category: 'Power Point',
                            id: '27',
                        },
                    
                        {
                            name: 'Bank Ratings',
                            url: ' https://kleui.s3.amazonaws.com/documents/1a05fcdb-7294-4074-80b7-ce30e4925f42/Bank-Ratings.ppt ',
                            category: 'Power Point',
                            id: '28',
                        },
                    
                        {
                            name: 'Business Credit 101',
                            url: ' https://kleui.s3.amazonaws.com/documents/dc83f155-8985-46d7-899d-82a689e77e92/BusinessCredit101-revised.pptx ',
                            category: 'Power Point',
                            id: '29',
                        },
                    
                        {
                            name: 'Business Credit Decoded',
                            url: ' https://kleui.s3.amazonaws.com/documents/84459292-3b3b-482c-81ae-8022f91503c6/Business-Credit-Decoded1.ppt ',
                            category: 'Power Point',
                            id: '30',
                        },
                    
                        {
                            name: 'Business Credit For Startups',
                            url: ' https://kleui.s3.amazonaws.com/documents/0c74bb6b-0c99-4f30-a48f-30e12fa61bef/Business-Credit-for-Startups-revised.pptx ',
                            category: 'Power Point',
                            id: '31',
                        },
                    
                        {
                            name: 'Business Commitment Letter Template',
                            url: ' https://kleui.s3.amazonaws.com/documents/15998317-1f97-40c3-965a-b2d2da754a93/Business-Finance-Suite-Finance-Commitment-Letter.docx ',
                            category: 'Word Document',
                            id: '32',
                        },
                    
                        {
                            name: 'Dunn &amp; Bradstreet Powerpoint',
                            url: ' https://kleui.s3.amazonaws.com/documents/5b4bf76e-5a1d-43aa-8df3-6e0b7ca9e10d/Dun-Bradstreet.ppt ',
                            category: 'Power Point',
                            id: '33',
                        },
                    
                        {
                            name: 'Funding &amp; Business Credit Sales Scripts',
                            url: ' https://kleui.s3.amazonaws.com/documents/219a2e2d-0802-4396-a7a3-a5ce7a20eebc/Funding-and-Business-Credit-Sales-Scripts-update.docx ',
                            category: 'Word Document',
                            id: '34',
                        },
                    
                        {
                            name: 'How To Build Credit For Your EIN',
                            url: ' https://kleui.s3.amazonaws.com/documents/c549b34e-568e-4d92-aca7-6108c2bf2a52/How-to-Build-Credit-for-Your-EIN-revised.pptx ',
                            category: 'Power Point',
                            id: '35',
                        },
                    
                        {
                            name: 'How To Get Business Loans With Bad Credit Powerpoint',
                            url: ' https://kleui.s3.amazonaws.com/documents/3a8f9853-7114-4d0a-8e6a-1a5657fed7d9/How-to-Get-Biz-Loans-Even-w-Bad-Credit-UB-update.pptx ',
                            category: 'Power Point',
                            id: '36',
                        },
                    
                        {
                            name: 'How To Get Business Credit Lines &amp; Loans',
                            url: ' https://kleui.s3.amazonaws.com/documents/df8048d4-72d3-4777-ad04-c0b317703fc5/How-to-Get-Business-Credit-Lines-and-Loans_UB.pptx ',
                            category: 'Power Point',
                            id: '37',
                        },
                    
                        {
                            name: 'How To Repair Business Credit',
                            url: ' https://kleui.s3.amazonaws.com/documents/3a0a7d90-be5a-412f-8084-77a9f4bbb1e7/How-to-Repair-Business-Credit.ppt ',
                            category: 'Power Point',
                            id: '38',
                        },
                    
                        {
                            name: 'How Your Fico Score Really Works',
                            url: ' https://kleui.s3.amazonaws.com/documents/42551763-1244-4767-bef8-c3770be53ae9/How-Your-FICO-Score-Really-Works.pptx ',
                            category: 'Power Point',
                            id: '39',
                        },
                    
                        {
                            name: 'Interview &amp; Closing Questions Template',
                            url: ' https://kleui.s3.amazonaws.com/documents/6ff05112-9f8f-40f3-ac88-01be3f8c1858/Interview-and-Closing-Questions..docx ',
                            category: 'Word Document',
                            id: '40',
                        },
                    
                        {
                            name: 'Mind Blowing Simple Steps Any Entrepreneur Can Take',
                            url: ' https://kleui.s3.amazonaws.com/documents/072efe5e-c398-4d66-b6fc-693522dfb01d/Mind-Blowing-Simple-Steps-Any-Entrepreneur-Can-T.pptx ',
                            category: 'Power Point',
                            id: '41',
                        },
                    
                        {
                            name: 'Reasons Having Business Credit Is A Must',
                            url: ' https://kleui.s3.amazonaws.com/documents/434bbc99-0f46-4d91-a83e-98ec46740320/Reasons-Having-Business-Credit-Is-a-Must.pptx ',
                            category: 'Power Point',
                            id: '42',
                        },
                    
                        {
                            name: 'What Lenders Look At To Approve You For Financing',
                            url: ' https://kleui.s3.amazonaws.com/documents/63f2c22e-74e4-41d5-881b-1fc43f148296/What-Lenders-Look-at-to-Approve-you-for-Financin.pptx ',
                            category: 'Power Point',
                            id: '46',
                        },
                    
                        {
                            name: 'What Is Needed To Get An SBA Loan',
                            url: ' https://kleui.s3.amazonaws.com/documents/2f296d5e-afe1-4f7f-9ac3-b79578e31dbd/Whats-Needed-to-get-a-SBA-Loan-and-the-Steps-to-.pptx ',
                            category: 'Power Point',
                            id: '47',
                        },
                    
                        {
                            name: 'The Funding Blueprint To Get Business Credit',
                            url: ' https://kleui.s3.amazonaws.com/documents/9b505c46-f831-4ae6-9518-3b6d778cae49/TheFundingBlueprinttoGetBusinessCreditrevised.pptx ',
                            category: 'Power Point',
                            id: '43',
                        },
                    
                        {
                            name: 'Types Of Unsecured Business Loans That Every Business Should Know',
                            url: ' https://kleui.s3.amazonaws.com/documents/1b035f00-c6c2-4526-a26e-c72f9ebd4f93/Types-of-Unsecured-Business-Loans-and-Cards-that.pptx ',
                            category: 'Power Point',
                            id: '44',
                        },
                    
                        {
                            name: 'What Is Your Business Credit Score To Start',
                            url: ' https://kleui.s3.amazonaws.com/documents/a0b3e49c-6d84-43d9-87d9-d770d22ed421/What-is-your-Business-Credit-Score-to-Start-revi.pptx ',
                            category: 'Power Point',
                            id: '45',
                        },
                    
                        {
                            name: 'Which Business Entity Is Best For You',
                            url: ' https://kleui.s3.amazonaws.com/documents/22b0bafe-4e43-4b5d-aae0-25c6251c0dfc/Which-Business-Entity-is-Best-for-You-nonbrand-1.pptx ',
                            category: 'Power Point',
                            id: '48',
                        },
                    
                        {
                            name: 'Your Bank Credit Score',
                            url: ' https://kleui.s3.amazonaws.com/documents/968c21d3-7f1f-47b4-a593-ea122848d5fa/Your-Bank-Credit-Score-nonbrand_updated-1.pptx ',
                            category: 'Power Point',
                            id: '49',
                        },
                    
                        {
                            name: 'Template Welcome Emails',
                            url: ' https://kleui.s3.amazonaws.com/documents/b848dd06-5516-4e4c-bd74-b04febb8fed1/Emails_For_Partner_Program__Business_Credit_Buil.docx ',
                            category: 'Word Document',
                            id: '50',
                        },
                    
                        {
                            name: 'Business Credit Building Contract Template',
                            url: ' https://kleui.s3.amazonaws.com/documents/3396d244-5421-48c8-82b4-3ef52a5dc55e/Business_Credit_Building.doc ',
                            category: 'Word Document',
                            id: '51',
                        },
                    ],
                displayProducts: [],
            },
            mounted: function () {
                this.displayProducts = [...this.products]
            },
            methods: {
                check: function (category) {
                    if (this.checkedCategories.includes(category)) {
                        this.checkedCategories.splice(this.checkedCategories.indexOf(category), 1);
                    } else {
                        this.checkedCategories.push(category)
                    }

                    if (this.checkedCategories.length > 0) {
                        this.displayProducts = this.products.filter(i => this.checkedCategories.includes(i.category))
                    } else {
                        this.displayProducts = [...this.products]
                    }

                }
            },
        });
    </script>

</body>
</html>
